@model IrisCareSolutions.Models.Exame

@{
    ViewData["Title"] = "Create";
}

<style>
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .cover {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .max-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .pedidoMedico {
        color: #89ffdb
    }

    .listaPedidoMedico {
        color: #ffffff;
    }

    .corBotao {
        background-color: #89ffdb;
    }
</style>

<div class="cover">
    <img class="max-img" src="~/assets/Background.png" alt="Imagem de background" />
</div>

<h1 class="pedidoMedico">Pedido Médico</h1>

<hr />
<div class="row">
    <div class="col-md-4 listaPedidoMedico">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nome" class="control-label">CRM do Médico</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Descricao" class="control-label">Motivo do Pedido</label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Data" class="control-label">Data Pedido</label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ResultadoFileName" class="control-label">Envio do Pedido</label>
                <input asp-for="ResultadoFileName" type="file" class="form-control" />
                <span asp-validation-for="ResultadoFileName" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="TuteladoId" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn corBotao mt-3" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
