@model Exame

@{
    ViewData["Title"] = "Novo Exame";
}

<style>
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .cover {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .max-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>

<div class="cover">
    <img class="max-img" src="~/assets/Background.png" alt="Imagem de background" />
</div>

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Nome">Nome</label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Descricao">Descrição</label>
        <input asp-for="Descricao" class="form-control" />
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Data">Data</label>
        <input asp-for="Data" type="date" class="form-control" data-val-date="A data deve estar no formato AAAA-MM-DD" />
        <span asp-validation-for="Data" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TuteladoId">Nome do Tutelado</label>
        <select asp-for="TuteladoId" asp-items="@(new SelectList(ViewBag.Tutelados, "TuteladoId", "Nome"))" class="form-control"></select>
        <span asp-validation-for="TuteladoId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ResultadoFileName">Documento</label>
        <input asp-for="ResultadoFileName" type="file" class="form-control" />
        <span asp-validation-for="ResultadoFileName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
