@model List<Lembrete>
@{
    ViewData["Title"] = "Index";
}

<h1>Lembretes</h1>

<table class="table">
    <tr>
        <th>Nome</th>
        <th>Validade do Lembrete</th>
        <th>Observações</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Validade.ToShortDateString()</td>
            <td>@item.Observacao</td>
        </tr>
    }
</table>


